#include <pybind11/pybind11.h>
#include "core/core.h"
#include "modules/modules.h"

namespace py = pybind11;
using namespace rpp;

PYBIND11_MODULE(Engine, m) {
    {% include "cpp_enum_binding.j2" %}

    # ================ Struct Bindings ================
    {% include "pyi_struct_binding.j2" %}
}