{% for struct in structs %}
{% if struct.name in allJsonMappedClasses-%}
m.def("ToString_{{ struct.name }}", &ToString<{{struct.name}}>, "");
m.def("FromString_{{ struct.name }}", &FromString<{{struct.name}}>, "");
{% endif-%}
{% endfor %}