{% for class in classes %}
{% if "e2e" in class.annotations %}
{% if "singleton" in class.annotations %}
{% include "e2e_module_singleton_define.j2" %}
{% else %}
{% include "e2e_module_static_define.j2" %}
{% endif %}

static struct PyModuleDef {{ class.name }}Module = {
    PyModuleDef_HEAD_INIT,
    "{{ class.name }}",
    nullptr,
    -1,
    {{ class.name }}Methods
};

{% endif %}
{% endfor %}