from typing import * # type: ignore
from enum import * # type: ignore
from dataclasses import * # type: ignore

FileHandle: TypeAlias = int
b8: TypeAlias = bool

u8: TypeAlias = int
u16: TypeAlias = int
u32: TypeAlias = int
u64: TypeAlias = int

i8: TypeAlias = int
i16: TypeAlias = int
i32: TypeAlias = int
i64: TypeAlias = int

f32: TypeAlias = float
f64: TypeAlias = float

String: TypeAlias = str

double: TypeAlias = float

FILE_READ: int = 0
FILE_WRITE: int = 1
FILE_APPEND: int = 2

INVALID_ID: int = -1

{% include "e2e_python_enum_binding.j2" %}

{% include "e2e_python_function_binding.j2" %}

{% include "pyi_to_string_method.j2" %}