{% for class in classes %}
{% if "e2e" in class.annotations %}
{% for method in class.methods %}
{% if "e2e" in method.annotations and not method.isStatic and method.access == "public" %}
def {{ method.name }}({{ methodParametersPyi(method, true) }}) -> {{ convertCppTypeToPyType(method.returnType) }}:
    ...
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}