static PyMethodDef {{ class.name }}Methods[] = {
{% for method in class.methods %}
{% if "e2e" in method.annotations and method.isStatic and method.access == "public" %}
    {"{{ method.name }}", {{ method.name }}, {{  "METH_NOARGS" if method.parameters|length == 0 else "METH_VARARGS" }}, ""},
{% endif %}
{% endfor %}
    {nullptr, nullptr, 0, nullptr}
};