{% for class in classes %}
{% if "e2e" in class.annotations %}
{% if "singleton" in class.annotations %}
{% include "e2e_test_cpp_function_singleton_binding.j2" %}
{% else %}
{% include "e2e_test_cpp_function_static_binding.j2" %}
{% endif %}
{% endif %}
{% endfor %}