{% for function in functions %}
{% if "python" in function.annotations %}
def {{ function.name }}({{ methodParametersPyi(function, true) }}) -> {{ convertCppTypeToPyType(function.returnType) }}:
    {{ objectComment(function, "") }}
    ...
{% endif %}
{% endfor %}