{% for struct in structs %}
{% if struct.name in allJsonMappedClasses-%}
@dataclass
class {{ struct.name }}:
{% if struct.fields|length != 0 %}
{% for field in struct.fields %}
    {{ field.name }}: {{ convertCppTypeToPyType(field.type) }}
{% endfor %}
{% else-%}
    pass
{% endif-%}

def ToString_{{ struct.name }}(obj: {{ struct.name }}) -> str:
    ...

def FromString_{{ struct.name }}(s: str) -> {{ struct.name }}:
    ...
{% endif-%}
{% endfor %}